.header {
    text-align: center;
}

.logo{
    display: block;
    max-width: 100px;
    max-height: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    transform: rotate(180deg);
    box-shadow: 10px 10px 10px #ccc;
}

blockquote {
    margin: 0;
    float: left;
    width: 50px;
    color: red;
}

.img1 {
    float: left;
    max-height: 100px;
    max-width: 100px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7rem;
    text-align: center;
    font-size: 45px;
}

@media (min-width: 800px) {
    .column1 {
        float: left;
        min-width: 200px;
    }

    .column2 {
        clear: right;
        column-width: 200px;
    }
}

@media (max-width: 800px) {
    body {
        display: flex;
        flex-direction: column;
    }

    body :nth-child(2) {
        order: 3;
    }

    body :nth-child(3) {
        order: 2;
     }
}
